# Frontend specific
frontend/.bolt/
frontend/deriv-bot.xml
frontend/node_modules/

# Python
__pycache__/
*.pyc

# Django database
db.sqlite3

# Build outputs
dist/
build/

venv/
__pycache__/
db.sqlite3
*.pyc